@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<section id="homeSection">
    <div class="row">
        <div class="col-8 firstCol">
            <div class="row d-flex justify-content-center align-items-center flex-column">
                <div class="col-6 d-flex justify-content-center align-items-start flex-column" style="height:500px;">
                    <div class="d-flex align-items-center mb-5">
                        <i class="fas fa-file-upload mr-3"></i>
                        <h4>Suba arquivos em seu perfil.</h4>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <i class="fas fa-link mr-3"></i>
                        <h4>Gere e guarde seus links.</h4>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-envelope mr-3"></i>
                        <h4>Compartilhe com a galera, é rápido!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 secondCol">
            <div class="row d-flex justify-content-center align-items-center flex-column" style="height:150px;">
                <h4>Tudo certo!</h4>
                <h6 class="font-weight-normal"><a>Te mandamos um email, confira e mude sua senha</a></h6>
            </div>
        </div>
    </div>
</section>

