@model _100ToMe.ViewModels.ViewModel
<partial name="_StatusMessageView" for="StatusMessage" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="container">
    <div class="row d-flex align-items-center" style="min-height:150px;">
        <div class="col-12 d-flex justify-content-between">
            <h1>Meus repositórios</h1>
            <button class="btn btn-sm myButtons text-white" data-toggle="modal" data-target="#exampleModal">Criar Respositório</button>
            <partial name="_AddRepoModal" />
        </div>
    </div>
</div>
<div class="container-fluid p-0 m-0">
    <div class="row bg-light border-top" style="min-height:100vh;">
        <div class="container d-flex flex-column">
            <div class="row" style="height:60px; display:table !important;"></div>
            <div class="row cardsRow p-5 border" style="border-radius:3px;">
                @foreach (Repositorie item in Model.repositories)
                {
                    <div class="col-md-4 col-sm-12 mb-5 d-flex justify-content-center align-items-center">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/img/transferir.svg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <div class="container d-flex justify-content-start" style="padding:0 !important;">
                                    <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" data-placement="top" title="Entrar no repo" onclick="VerRepo(@item.FileId)"><i class="fas fa-sign-in-alt"></i></a>
                                    <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" data-placement="top" title="Compartilhar"><i class="fas fa-share-alt"></i></a>
                                    <a href="javascript:void(0)" class="mr-1"  data-toggle="modal"  data-target="#exampleModalDelete"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Excluir"></i></a>
                                    <div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Novo Repo</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <p>Deseja excluir este repositório ?</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-primary" onclick="ExcluirRepo(@item.RepoId)">Sim!</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    function VerRepo(obj) {
        $.ajax({
            method: "POST",
            dataType: "JSON",
            url: '@Url.Action("Index", "Repositories")',
            data: { fileId: obj },
        });
    }
</script>
