@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<section id="homeSection">
    <div class="row">
        <div class="col-8 firstCol">
            <div class="row d-flex justify-content-center align-items-center flex-column">
                <div class="col-6 d-flex justify-content-center align-items-start flex-column" style="height:500px;">
                    <div class="d-flex align-items-center mb-5">
                        <i class="fas fa-file-upload mr-3"></i>
                        <h4>Suba arquivos em seu perfil.</h4>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <i class="fas fa-link mr-3"></i>
                        <h4>Gere e guarde seus links.</h4>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-envelope mr-3"></i>
                        <h4>Compartilhe com a galera, é rápido!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 secondCol">
            <div class="row d-flex justify-content-center align-items-center flex-column" style="height:150px;">
                <h4>Defina uma senha.</h4>
                <h6 class="font-weight-normal"><a>Você não possui uma senha, defina uma para logar sem o Facebook</a></h6>
            </div>
            <form id="set-password-form" method="post" class="d-flex flex-column align-items-center">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group col-10">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group col-10">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="container-fluid d-flex justify-content-center" style="max-height:40px !important; padding-left:1.5px !important;">
                    <div class="col-10">
                        <button type="submit" class="btn btn-primary">Set password</button>
                    </div>
                </div>
            </form>
            <partial name="_StatusMessage" for="StatusMessage" />
        </div>
    </div>
</section>

@*<h4>Set your password</h4>
    <partial name="_StatusMessage" for="StatusMessage" />
    <p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>
    <div class="row">
        <div class="col-md-6">
            <form id="set-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Set password</button>
            </form>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}